In [17]:
import pandas_datareader.data as web
import FinanceDataReader as fdr
import numpy as np
from scipy.optimize import minimize
import pandas as pd
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

#pd.set_option('display.float_format', '${:.2g}'.format)
np.set_printoptions(suppress = True)

In [2]:
df_spx = fdr.StockListing('NASDAQ')
df_spx.head(10)

100%|█████████████████████████████████████████████████████████████████████████████| 3190/3190 [00:04<00:00, 735.36it/s]

  Symbol                  Name        Industry IndustryCode
0   AAPL             Apple Inc  컴퓨터, 전화 및 가전제품       571060
1   MSFT        Microsoft Corp   소프트웨어 및 IT서비스       572010
2   AMZN        Amazon.com Inc         다양한 소매업       534020
3     FB  Facebook Inc Class A   소프트웨어 및 IT서비스       572010
4  GOOGL  Alphabet Inc Class A   소프트웨어 및 IT서비스       572010
5   GOOG  Alphabet Inc Class C   소프트웨어 및 IT서비스       572010
6   TSLA             Tesla Inc    자동차 및 자동차 부품       531010
7   NVDA           NVIDIA Corp    반도체 및 반도체 장비       571010
8  CMCSA  Comcast Corp Class A        미디어 및 출판       533020
9   ADBE             Adobe Inc   소프트웨어 및 IT서비스       572010

In [6]:
symbols = []
while True:
    name = input("종목코드 : ")
    if name == '0':
        break
    symbols.append(name)
st = input("시작일 0000-00-00: ")
en = input("종료일 0000-00-00: ")
lookback = input("Look back : ")
rebalance = input("Rebalance : ")

종목코드 : AAPL
종목코드 : MSFT
종목코드 : AMZN
종목코드 : FB
종목코드 : GOOGL
종목코드 : GOOG
종목코드 : TSLA
종목코드 : NVDA
종목코드 : CMCSA
종목코드 : ADBE
종목코드 : 0
시작일 0000-00-00: 2020-09-01
종료일 0000-00-00: 2020-11-22

['AAPL',
 'MSFT',
 'AMZN',
 'FB',
 'GOOGL',
 'GOOG',
 'TSLA',
 'NVDA',
 'CMCSA',
 'ADBE']

In [142]:
symbols = ['AAPL', 'MSFT', 'AMZN', 'FB']#, 'GOOGL', 'GOOG', 'TSLA', 'NVDA', 'CMCSA', 'ADBE']
st ='2020-09-01'
en = '2020-11-22'
lookback = '6m'
rebalance = '1m'
st = datetime(int(st[:4]),int(st[5:7]),int(st[8:10]))
en = datetime(int(en[:4]),int(en[5:7]),int(en[8:10]))
if lookback[-1] == 'd':
    lookback = timedelta(days=int(lookback[:-1]))
elif lookback[-1] == 'w':
    lookback = timedelta(weeks=int(lookback[:-1]))
elif lookback[-1] == 'm':
    lookback = relativedelta(months=int(lookback[:-1]))
elif lookback[-1] == 'y':
    lookback = relativedelta(years=int(lookback[:-1]))
if rebalance[-1] == 'd':
    rebalance = timedelta(days=int(rebalance[:-1]))
elif rebalance[-1] == 'w':
    rebalance = timedelta(weeks=int(rebalance[:-1]))
elif rebalance[-1] == 'm':
    rebalance = relativedelta(months=int(rebalance[:-1]))
elif rebalance[-1] == 'y':
    rebalance = relativedelta(years=int(rebalance[:-1]))

In [23]:
data = web.get_data_yahoo(symbols, start = st-lookback, end=en)['Adj Close']
data.head()

Symbols,AAPL,MSFT,AMZN,FB,GOOGL,GOOG,TSLA,NVDA,CMCSA,ADBE
Date,,,,,,,,,,
2020-03-02,73.635773,171.445724,1953.949951,196.440002,1386.319946,1389.109985,148.723999,276.221252,41.784077,360.279999
2020-03-03,71.297157,163.230148,1908.989990,185.889999,1337.719971,1341.390015,149.102005,265.689240,40.722771,348.339996
2020-03-04,74.604240,169.223145,1975.829956,191.759995,1381.599976,1386.520020,149.899994,284.295197,41.764423,363.850006
2020-03-05,72.184303,164.976440,1924.030029,185.169998,1314.760010,1319.040039,144.908005,273.083649,40.064365,351.029999
2020-03-06,71.225685,160.313034,1901.089966,181.089996,1295.739990,1298.410034,140.695999,265.839142,39.671288,336.769989

In [24]:
data_ret = data.pct_change().dropna()+1
data_ret.head()

Symbols,AAPL,MSFT,AMZN,FB,GOOGL,GOOG,TSLA,NVDA,CMCSA,ADBE
Date,,,,,,,,,,
2020-03-03,0.968241,0.952081,0.976990,0.946294,0.964943,0.965647,1.002542,0.961871,0.974600,0.966859
2020-03-04,1.046385,1.036715,1.035013,1.031578,1.032802,1.033644,1.005352,1.070029,1.025579,1.044525
2020-03-05,0.967563,0.974905,0.973783,0.965634,0.951621,0.951331,0.966698,0.960564,0.959294,0.964766
2020-03-06,0.986720,0.971733,0.988077,0.977966,0.985533,0.984360,0.970933,0.973471,0.990189,0.959377
2020-03-09,0.920908,0.932227,0.947146,0.935999,0.938298,0.936191,0.864275,0.922568,0.938321,0.908008

In [93]:
def mv_opt(R,C):
    n = len(R)
    def pf_var(W):
        return np.matmul(np.matmul(W,C),W)
    W = np.ones(n)/n
    e = np.ones(n)
    bnds = ((0.0,1.0),)*n
    #mu = 1+(0.07/252)
    cons = [#{'type' : 'ineq' , 'fun' : lambda w: np.dot(w,R) - mu}, # returns - mu >= 0
            {'type' : 'eq' , 'fun' : lambda w: np.sum(w) - 1}]
        #{'type':'ineq', 'fun': lambda x: np.sum(x, 1) - 1},   # col sum >= 1
        #{'type':'ineq', 'fun': lambda x: 1 - np.sum(x, 1)})  # col sum <= 1)
    solution = minimize(pf_var,W,method = 'SLSQP',bounds=bnds,constraints = cons)
    return solution.x.round(6)*100
R = np.array(np.mean(data_ret,axis=0))
C = data_ret.cov().values
mv_opt(R,C)

array([ 9.3117,  8.8988, 17.3903,  9.9972, 14.0846, 14.21  ,  0.    ,
        0.    , 20.3919,  5.7156])

In [147]:
def backtest(symbols,st,en,lb, rb):
    data = web.get_data_yahoo(symbols, start = st-lookback, end=en)['Adj Close']
    df = pd.DataFrame(columns = symbols)
    date = st-lookback
    while date < en:
        df.loc[data[date:].index[0]] = data[date:].values[0]
        date += rb
    data_ret = df.pct_change().dropna()+1
    
    col = [i+'_amt' for i in symbols]
    col.append('total_amt')
    col.append('portfolio_ret')
    col+= [i+'_weight' for i in symbols]
    result = pd.DataFrame(columns = col)
    T_amt = 100
    for index, row in df.iterrows():
        if st <= index:
            R = np.array(np.mean(data_ret[index-lb:index],axis=0))
            C = data_ret[index-lb:index].cov().values
            weight = mv_opt(R,C)
            amt = data_ret[index:index]*weight*T_amt/100
            for i in range(len(symbols)):
                s = symbols[i]
                result.loc[index,s+'_amt'] = amt[s].values[0]
                result.loc[index,s+'_weight'] = weight[i]
            T_amt_ = T_amt
            T_amt = amt.sum(axis = 1).values[0]
            result.loc[index,'total_amt'] = T_amt
            result.loc[index,'portfolio_ret'] = T_amt/T_amt_ - 1
    return result
backtest(symbols,st,en,lookback,rebalance)

,AAPL_amt,MSFT_amt,AMZN_amt,FB_amt,total_amt,portfolio_ret,AAPL_weight,MSFT_weight,AMZN_weight,FB_weight
2020-09-01,0,0,112.444,0,112.444,0.124436,0,0,100,0
2020-10-01,0,53.4706,50.8587,0,104.329,-0.072163,0,50.8681,49.1319,0
2020-11-02,0,91.1103,0,8.48623,99.5966,-0.0453633,0,91.7019,0,8.2981

In [122]:
data_ret[st-lookback:st]

Symbols,AAPL,MSFT,AMZN,FB,GOOGL,GOOG,TSLA,NVDA,CMCSA,ADBE
Date,,,,,,,,,,
2020-03-03,0.968241,0.952081,0.976990,0.946294,0.964943,0.965647,1.002542,0.961871,0.974600,0.966859
2020-03-04,1.046385,1.036715,1.035013,1.031578,1.032802,1.033644,1.005352,1.070029,1.025579,1.044525
2020-03-05,0.967563,0.974905,0.973783,0.965634,0.951621,0.951331,0.966698,0.960564,0.959294,0.964766
2020-03-06,0.986720,0.971733,0.988077,0.977966,0.985533,0.984360,0.970933,0.973471,0.990189,0.959377
2020-03-09,0.920908,0.932227,0.947146,0.935999,0.938298,0.936191,0.864275,0.922568,0.938321,0.908008
...,...,...,...,...,...,...,...,...,...,...
2020-08-26,1.013599,1.021620,1.028496,1.082223,1.023838,1.027459,1.064166,1.001804,1.018199,1.090952
2020-08-27,0.988046,1.024554,0.987841,0.964825,0.990506,0.989076,1.039746,0.988667,1.007692,0.965619
2020-08-28,0.998380,1.010283,1.000529,1.001501,1.006699,1.006168,0.988677,1.041138,1.000449,1.011992
2020-08-31,1.033912,0.985234,1.014451,0.998434,0.993961,0.993779,1.125689,1.017246,1.005610,0.994094
2020-09-01,1.039833,1.007715,1.013956,1.007640,1.015679,1.016234,0.953303,1.033694,1.005356,1.028361

In [129]:
for index in data_ret.index:
    amt = data_ret[index:index]*mv_opt(R,C)
    for s in symbols:
        print(amt[s])
        break
#          (data_ret[index:index]*mv_opt(R,C)).sum(axis = 1))
    break

Date
2020-03-03    9.015968
Name: AAPL, dtype: float64

In [94]:
data_ret * mv_opt(R,C)

Symbols,AAPL,MSFT,AMZN,FB,GOOGL,GOOG,TSLA,NVDA,CMCSA,ADBE
Date,,,,,,,,,,
2020-03-03,9.015968,8.472375,16.990153,9.460291,13.590839,13.721845,0.0,0.0,19.873950,5.526180
2020-03-04,9.743619,9.225520,17.999191,10.312889,14.546604,14.688084,0.0,0.0,20.913507,5.970090
2020-03-05,9.009656,8.675482,16.934382,9.653638,13.403206,13.518419,0.0,0.0,19.561830,5.514215
2020-03-06,9.188039,8.647257,17.182957,9.776924,13.880845,13.987753,0.0,0.0,20.191832,5.483413
2020-03-09,8.575220,8.295705,16.471155,9.357366,13.215550,13.303277,0.0,0.0,19.134141,5.189813
...,...,...,...,...,...,...,...,...,...,...
2020-11-16,9.392902,8.928393,17.402806,10.069755,14.098667,14.244865,0.0,0.0,20.616627,5.613427
2020-11-17,9.241262,8.785328,17.415848,9.855284,13.986391,14.120419,0.0,0.0,20.490689,5.802397
2020-11-18,9.205628,8.781480,17.222812,9.887049,13.916543,14.022396,0.0,0.0,20.129730,5.612024
2020-11-19,9.359825,8.955292,17.455035,10.032856,14.229682,14.349433,0.0,0.0,20.532992,5.801931
2020-11-20,9.209667,8.813758,17.291995,9.878526,13.906878,14.034944,0.0,0.0,20.264141,5.672832